<table class="table table-dark">
    <thead>
    <tr>
      <th>Id</th>
      <th>Nazwa</th>
      <th>Ops</th>
      <th>Typ</th>
      <th>Rozmiar</th>
      <th>Edycja</th>
      <th>Usuwanie</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let orangeObject of orangeObjects">
      <td>{{orangeObject.id}}</td>
      <td>{{orangeObject.name}}</td>
      <td>{{orangeObject.description}}</td>
      <td>{{orangeObject.type}}</td>
      <td>{{orangeObject.size}}</td>
      <td><i class="fa fa-edit" (click)="onOpenUpdateModal(orangeObject)" style="cursor: pointer;"></i></td>
      <td><i class="fa fa-trash" (click)="onOpenDeleteModal(orangeObject)" style="cursor: pointer;"></i></td>
    </tr>
    </tbody>
  </table>
  
  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addModal">
    Dodaj obiekt
  </button>
  
  <form #addForm="ngForm" (ngSubmit)="onCreateObject(addForm)">
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="addModalLabel">Dodaj obiekt</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <label for="name">Nazwa</label>
                <input id="name" ngModel type="text" name="name" class="form-control" required/>
              </div>
              <div class="form-group">
                <label for="description">Opis</label>
                <textarea id="description" ngModel name="description" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label for="type">Typ</label>
                <select id="type" name="type" ngModel class="form-control" required>
                  <option>TYPE1</option>
                  <option>TYPE2</option>
                </select>
              </div>
              <div class="form-group">
                <label for="size">Rozmiar</label>
                <input id="size" ngModel type="number" value="1" min="1" max="100" name="size" class="form-control"/>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Utwórz</button>
          </div>
        </div>
      </div>
    </div>
    </form>
  
  
    <form #editForm="ngForm">
      <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="editModalLabel">Edytuj obiekt</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                  <label for="name">Nazwa</label>
                  <input id="name" ngModel="{{editOrangeObject?.name}}" type="text" name="name" class="form-control" required/>
                  <input id="id" ngModel="{{editOrangeObject?.id}}" type="hidden" name="id"/>
                </div>
                <div class="form-group">
                  <label for="description">Opis</label>
                  <textarea id="description" ngModel="{{editOrangeObject?.description}}" name="description" class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <label for="type">Typ</label>
                  <select id="type" name="type" ngModel="{{editOrangeObject?.type}}" class="form-control" required>
                    <option>TYPE1</option>
                    <option>TYPE2</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="size">Rozmiar</label>
                  <input id="size" ngModel="{{editOrangeObject?.size}}" type="number" value="1" min="1" max="100" name="size" class="form-control"/>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
              <button (click)="onUpdateObject(editForm.value)" type="submit" class="btn btn-primary">Zapisz</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    
    <form #editForm="ngForm">
      <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="deleteModalLabel">Usunąć obiekt {{deleteOrangeObject?.name}}?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nie</button>
              <button (click)="onDeleteObject(deleteOrangeObject ? deleteOrangeObject.id : 0)" type="submit" class="btn btn-danger">Tak</button>
            </div>
          </div>
        </div>
      </div>
    </form>